<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <h2>Upload Image</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="context">Add context for image</label>
        <input type="text" name="context"><br>
        
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
